.ace_autocomplete .ace_completion-icon.ace_bulma {
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDIiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA0MiA2NCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDQ0TDMuODE4MTggMTZMMTkuMDkwOSAwTDM4LjE4MTggMjBMMjYuNzI3MyAzMkw0MiA0OEwxOS4wOTA5IDY0TDAgNDRaIiBmaWxsPSIjMDBEMUIyIi8+Cjwvc3ZnPgo=');
}