
.file_type_astro::before {
  display: inline-block;
  content: '';
  background-image: url('https://raw.githubusercontent.com/sebastianjnuwu/acode-plugins/material-icons/icons/astro.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}