@import './icons.scss';

.file_type_npm:before {
  display: inline-block;
  content: '';
  background-image: url(#{$npm});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_yaml:before {
  display: inline-block;
  content: '';
  background-image: url(#{$yaml});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_yml:before {
  display: inline-block;
  content: '';
  background-image: url(#{$yaml});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_java:before {
  display: inline-block;
  content: '';
  background-image: url(#{$java});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_docker:before {
  display: inline-block;
  content: '';
  background-image: url(#{$docker});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_dockerfile:before {
  display: inline-block;
  content: '';
  background-image: url(#{$docker});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_eslint:before {
  display: inline-block;
  content: '';
  background-image: url(#{$eslint});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_android:before {
  display: inline-block;
  content: '';
  background-image: url(#{$android});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_astro:before {
  display: inline-block;
  content: '';
  background-image: url(#{$astro});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_tsconfig:before {
  display: inline-block;
  content: '';
  background-image: url(#{$tsconfig});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_nix:before {
  display: inline-block;
  content: '';
  background-image: url(#{$nix});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_prettier:before {
  display: inline-block;
  content: '';
  background-image: url(#{$prettier});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_jsconfig:before {
  display: inline-block;
  content: '';
  background-image: url(#{$jsconfig});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_jsx:before {
  display: inline-block;
  content: '';
  background-image: url(#{$jsx});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_tsx:before {
  display: inline-block;
  content: '';
  background-image: url(#{$tsx});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_typescript:before {
  display: inline-block;
  content: '';
  background-image: url(#{$typescript});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_javascript:before {
  display: inline-block;
  content: '';
  background-image: url(#{$javascript});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_webpack:before {
  display: inline-block;
  content: '';
  background-image: url(#{$webpack});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_postcss:before {
  display: inline-block;
  content: '';
  background-image: url(#{$postcss});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_postcssconfig:before {
  display: inline-block;
  content: '';
  background-image: url(#{$postcss});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_html:before {
  display: inline-block;
  content: '';
  background-image: url(#{$html});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_css:before {
  display: inline-block;
  content: '';
  background-image: url(#{$css});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_scss:before {
  display: inline-block;
  content: '';
  background-image: url(#{$scss});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}

.file_type_sass:before {
  display: inline-block;
  content: '';
  background-image: url(#{$scss});
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
}
